/* Styles specific to the signup page */

.alert.alert-danger {
    background-color: var(--error-bg-color);
    color: var(--error-color);
    border: 1px solid var(--error-border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.alert.alert-danger ul {
    list-style-position: inside;
    padding-left: 0;
}